.wm-form {
    width:15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: #333;
}
.wm-form .wm-form-search{
    width: 100%;
    height: 120px;
    flex: 0 0 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wm-form .wm-form-list{
    flex: 1 1 100%;
    width: 100%;
    height: 100%;
}
.wm-list-item {
    cursor: pointer;
    white-space: nowrap;
    padding: 5px 15px;
    line-height: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #d3d3d3;
    transition: background-color 0.3s linear;
}
.wm-list-item:focus,
.wm-list-item:hover,
.wm-list-item:active{
    background-color: #d3d3d3;
}